.box-sizing(@sizing: border-box) {
    -moz-box-sizing: @sizing;
    box-sizing: @sizing;
}

.round-borders(@radius: 50%) {
    -moz-border-radius: @radius; 
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
