.transform(@transform: rotate(0deg)) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform;
    transform: @transform;
}

.transform-origin(@origin: 50% 50%) {
    -webkit-transform-origin: @origin;
    -moz-transform-origin: @origin;
    -ms-transform-origin: @origin;
    transform-origin: @origin;
}

.transform-style(@style: preserve-3d) {
    -webkit-transform-style: @style;
    -moz-transform-style: @style;
    transform-style: @style;
}

.perspective(@perspective: 500) {
    -webkit-perspective: @perspective;
    perspective: @perspective;
}
